@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
 input{
     width: fit-content !important;
 }
</style>
<h1>Login</h1>
<form action="Login" method="post">

User: <input class="form-control" name="username"/> <br />
Password: <input class="form-control" name="password"/> <br />
<button type="submit">Login</button>
</form>
